<h1>Edit your chirp!</h1>

<%= form_tag("/chirps/#{@chirp.id}", method: :put) do %>
  <%= label_tag('content', 'Edit Chirp Content:') %>
  <br>
  <%= text_area_tag('content', @chirp.content, size: '60x10') %>
  <br>
  <%= submit_tag("Update Chirp") %>
  <%= %>
  <%= %>
<% end %>